*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    display:flex;
    width:100%;
    height: auto;
    background-color: darkred;
    color:white;
}
.img{
    float:left;
    width:20%;
    height:70%;
    object-fit: cover;
}
.brandname{
    font-size: x-large;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar{
    display:flex;
}
ul{
    list-style:none;
}
li :hover{
    background-color: rgb(148, 62, 62);
}